body{
    margin-left: 80px;
}
/* nav section starts here */
.nav-bar{
    margin-top:52px ;
    display: flex;
    justify-content: space-between;
    width: 1180px;
    margin-bottom: 50px
}
.nav-headings{
    display: flex;
    gap: 17px;
    height: 45px;
    align-items: center;
   
}
h1{
    
font-family: Mulish;
font-size: 36px;
font-weight: 800;
}
span{
    color: #FF5400;
}
.nav-text{
    display: flex;
    list-style: none;
    color: #424247;
    text-align: center;
    align-items: center;
    font-family: Mulish;
    font-size: 18px;
   
}
li{
    margin-left: 44px;
}
/* rectangfle-2 section starts here */
.rectangle-2{
    position: absolute;
   
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) , url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1180px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
   
  z-index: 1;
}        
.rectangle-2 h1{
    position: relative;
text-align: center;
color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
top: 50px;

}                                                                                   .rectangle-2 h6{
   padding: 23px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}                                                                               
.frame-1 {
    position: relative;
    display: flex;
    width: 800px;
    height: 84px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    z-index:2;
   top: 310px;
  left: 185px;
  gap: 24px;
}
.card{

    background-color: #FFF;
    display: flex;
    width: 174px;
height: 52px;
justify-content: space-around;
align-items: center;
color: rgba(19, 19, 24, 0.50);
font-family: Mulish;
font-size: 16px;
margin: 16px;
font-weight: 400;
border-radius: 8px
}
.frame-1 button{
color: #FFF;
background: #FF5400;
border: none;
}
@media screen and (max-width:600px) {
    .rectangle-2{
        width: 100%;
        height: 483px;
    } 
}

/* rectangle-3 starts here */

.rectangle-3 
{

    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 650px;
    margin-top:80px;
    width: 1200px;
}
.rectangle-3 h6{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px; 

}
.rectangle-3 li{
color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
margin-left: 0
}
.rectangle-3-heading{

  margin: 0;
  padding: 0;
}
.rectangle-3 button{
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
padding: 14px 34px;
border-radius: 8px;
background: #FF5400;
}
/* 3rd setion starts here */
.third-section{ 
text-align: center;
position: absolute;
top: 1500px;
width: 1210px;

}
.third-section img{
   
    margin: 12px;
    position: relative;
    z-index: 1;

}
.third-section h2{
    position: absolute;
    text-align: center;
 z-index: 2;
}
/* 3rd setion ends here */

/* fourth setion starts here */
.fourth-section{
    width: 1200px;
    position: relative;
    top: 2500px;
    text-align: center;

}
.fourth-section h1{
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.fourth-section h6{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
} 
.fourth-section-info{
    width: 500px;
    height: 210px;
    border-radius: 16px;
    text-align: left;
padding: 34px;
    
}
.fourth-section-info h3{
color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
margin-bottom: 12px;

}
#box-1{

border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
#box-2{
    
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#box-3{
    position: relative;
    left: 290px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.informations{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* fourth setion ends here */


/* fifth section starts here */
.fifth-section{
    position: relative;
    top: 2600px;
   
    max-width: 1200px;

}
.fifth-section-heading{
    text-align:center;
}
.fifth-section h6{
    color: rgba(19, 19, 24, 0.70);
    
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
}
.image-container{
    position: relative;
    top: 0px;
    display: inline-block;
    margin-bottom: 24px;
}

.vanue-description{
    position:absolute;
  bottom: 50px;
    left: 535px;
    padding: 50px;
    width: 480px;
height: 300px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
font-family: Mulish; 
}
.vanue-mirrored-img{
    transform: scaleX(-1);
}
.vanue-mirrored-description{
    position:absolute;
    bottom: 50px;
    left: 50px;
    padding: 50px;
    width: 480px;
height: 300px;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
font-family: Mulish; 

}
.booking-details{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
display: flex;
gap: 12px;
}
.fifth-section button{
    padding: 15px 24px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
}
.more-button{
    position: absolute;
    top: 550px;
    left: 500px;
   
}
/* fifth section ends here */


/* sixth section starts here */
.sixth-section{
position: absolute;
top: 5550px;
display: flex;
}
.sixth-section-description{
    width: 550px;
height: 450px;
}

.sixth-section h6{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
}
.sixth-section li{
    color: #131318;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
margin-bottom: 10px;
margin-left: 0px;
}
.sixth-section button{
    padding: 15px 42px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
margin-top: 24px;
}
.sixth-section-container
{
   background-image: url(../Images/Group\ 40089.png);
    width: 610px;
height: 424px;
margin-left: 12px;
}

.sixth-section-container h2{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 176px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;

}


/* sixth section ends here */

/* seventh section starts here */
.seventh-section{
    position: relative;
    top: 3300px;
    max-width: 1200px;
    display: flex;
    gap: 24px;
    font-family: Mulish; 
}

.seventh-section h6{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
} 
.seventh-section input{
    border: none;
    color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
height: 52px;
display: block;
}
.seventh-section-description{
    width: 400px;
    height:420px ;
border-radius: 16px;
border: 1px solid #FF5400;
padding:0px 40px;
}
.seventh-section-description button{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
border-radius: 8px;
background: #FF5400;
padding: 14px 150px;
margin-top: 24px;
}
.container-image img{
    position: absolute;
}
.container-image .tag{
    position: relative;
    top: 250px;
    left: 335px;
    width: 324px;
    padding: 20px 0px;
height: 80px;
transform: rotate(-19.628deg);
flex-shrink: 0;
border-radius: 16px;
background: #FF5400;
text-align: center;
color: #FFF;

font-family: Mulish;
font-size: 24px;

font-weight: 400;

}
.tag span{
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

/* seventh section ends here */
/* footer section starts here */
.footer-section{
    text-align: center;
    position: absolute;
    width: 1200px;
    height: 500px;
    top: 6550px;
    background: rgba(19, 19, 24, 0.05);
}
.footer-header{
    display: flex;
    height: 40px;
    margin-top: 110px;
    align-items: center;
    justify-content: center;
}
.footer-section h6{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
/* footer section ends here */